body{
    font-family: Arial;
    display: flex; /*고정값 해제 ~~ 유연한 이동 가능*/
    justify-content: center;
    align-items: center;
    height: 100vh; /*중앙정렬*/
    background-color: #e0e0e0;
}
.calc{
    background-color:#dcdcdc;
    border-radius: 25px;
    width:50vh;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 전체적으로 가운데 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}
.display{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 36px;
    margin: auto;
    width:85%;
    height : 30%;
    background-color:white;
    margin-bottom:5px;
    border-radius: 5px;
    
}
.buttons_tool{
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
  
    border-radius: 100px;
    height: 60%;
    width : 85%;
    margin : 5%;
}

.num_buttons, .op_buttons{
    border-radius : 12px;
    width : 60px;
    height : 60px;
    margin:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    /*transition-> 요소 상태 변화 (애니메이션 효과 추가)*/
    /*transform -> 요소 크기 위치 회전 변화__ 0.1초 간 속성 변화 적용*/
    /*box-shadow -> 그림자 추가__ 0.1초 간 속성 변화 적용*/
}

.op_buttons{
    background-color: rgb(206, 206, 206);
}

.num_buttons{
    background-color: rgb(234, 231, 231);
}

/*커서 효과*/
.op_buttons:hover, .num_buttons:hover {
    background-color: rgb(180, 180, 180); /* 마우스를 올렸을 때 색 변화__ 기본 버튼 색상보다 약간 어두운 색*/
    transform: scale(1.1); /* 버튼 크기 약간 커지기__ 기존 버튼 크기의 110% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/*클릭 효과*/
.op_buttons:active, .num_buttons:active {
    transform: scale(0.95); /* 클릭 시 버튼 크기 줄어듦__ 기존 버튼 크기의 95% */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 변화__ 커서 의 그림자 보다 약간 작아지는 효과 픽셀 비교시 확인 가능 */
    /*클릭 시에 버튼이 작아져 그림자도 작아지는 현실성 반영*/
}
